/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #8A51FC;
}

main {
    width: 375px;
    background-color: #F4F4F4 ;
    border-radius: 20px;
}